/* form {
  width: 50%;
} */

.experience {
  border: 1px solid gray;
  margin: 0 10%;
  padding: 5%;
}

.resume_head {
  border: 1px solid black;
}

.resume_name {
  height: 10%;
  background-color: gray;
  padding: 5%;
}

.email_element {
  text-decoration: underline;
  color: blue;
}

.right_part {
  background-color: rgb(232, 221, 221);
}

